@charset "UTF-8";

*{
	box-sizing: border-box;
}
#chatt{
	width: 800px;
	margin: 20px auto;
}

#chatt #talk{
	width: 800px;
	height: 600px;
	overflow: scroll;
	border : 1px solid #aaa;
	background-color: #e5d9c4;
/* 	background-color: #fff; */
}
#talk{
	width: 800px;
	height: 600px;
	overflow: scroll;
	border : 1px solid #aaa;
	background-color: #e5d9c4;
/* 	background-color: #fff; */
}
#chatt #msg{
	width: 800px;
	height:100px;
	display: inline-block;
	background-color: #cbf361d9;
	border : 1px solid #aaa;
}

#chatt #sendZone > *{
	vertical-align: top;
	
}
#chatt #btnSend{
	width: 54px;
	height: 100px;
}

#chatt #talk div{
	width: 50%;
	display: inline-block;
	padding: 6px;
	border-radius:10px;
	
}

#chatt .me{
	background-color : #ffc;
	margin : 1px 0px 2px 50%;	
}

#chatt .other{
	background-color : #eee;
	margin : 2px;
}